/*This is the formatting for my website*/

img {
  width: 50%;
  padding-top: 15px;
}
h1,h2,footer {
  text-align: center;
}
* {
  box-sizing: border-box;
}
html,body {
  margin: 0;
  padding: 0;
  background-color: #fef0b4;
}
body {
  text-align: justify;
  font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT,
    Times New Roman, serif;
}

header h2 {
  font-family: "Cedarville Cursive";
  font-size: 2.5em;
  color: #000000;
}

header h1 {
  font-size: 5em;
  font-family: "Cedarville Cursive";
  /*Lucida Bright, Georgia, serif;*/
}

nav {
  background-color: #efd667;
  margin-bottom: 0%;
}
nav a {
  line-height: 2em;
  color: #1b3f7b;
  padding: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover {
  color: #6f9be7;
}
main,footer {
  width: 60%;
  margin: 0 auto;
  padding: 0.25em 1.5em 0.5em;
}
main {
  width: 60%;
  margin: 0 auto;
  background-color: #ffffff;
}
nav ul {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
nav li {
  list-style-type: none;
}

footer {
  background-color: #1b3f7b;
}
.headimage img {
  width: 100%;
  height: auto;
  padding-top: 0px;
}
.parallax {
  /* The image used */
  background-image: url("Images/Index/landscape3edited.jpg");

  /* Set a specific height */
  min-height: 400px;
  /* Set a margin */
  margin-top: 15px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center-align {
  text-align: center;
}

/* Class specifically used for h1 and h2 website headers */
.line-height {
  line-height: 0.1;
}

/* For h1 header (The Sound of Music) */
h1 {
  font-size: 3em;
  color: #f82769;
}

h2 {
  font-size: 2em;
  color: #1b3f7b;
}

.large-quote {
  font-size: 2em;
  color: #6f9be7;
}

h3 {
  margin-bottom: 0;
  font-size: 1.5em;
  color: #1b3f7b;
}

h4 {
  font-size: 1.2em;
  color: #000000;
}

/* Class for specific image on the right in Origins page */
.float-image1 {
  float: right;
  margin: 0 0 20px 20px;
  width: 30%;
}

.float-image2 {
  float: left;
  margin: 0 30px 20px 20px;
  width: 40%;
}

/* Connects images with captions */
figure {
  display: inline-block;
  margin: 0;
  width: 400px;
  text-align: center;
}

/* To add captions to images within the figure */
figcaption {
  font-size: 15px;
  text-align: justify;
  color: #000000;
}
/* Designated space for the figure - centers everything within figure */
main .figure1 {
  text-align: center;
}

main .figure2 {
  text-align: left;
}

/* Class for specific figure IMAGE (in Origins page) where image is in the center */
.top-image img {
  text-align: center;
  width: 400px;
}
.figure2 {
  display: inline-block;
  margin: 0;
  width: 350px;
  text-align: center;
}

/* Class for specific figure CAPTION where image is in the center */
.top-image figcaption {
  text-align: center;
}
/* Class for specific figure IMAGE where image is in the center */
.figure2 img {
  text-align: center;
  width: 350px;
  margin-left: 0;
  margin-bottom: 10px;
}

/* Class for specific figure CAPTION where image is in the center */
.figure2 figcaption {
  text-align: center;
  text-align: justify;
}

main .figure-right {
  text-align:right;
  margin-left: 25px;
}
.figure-right {
  display: inline-block;
  margin: 0 0 0 30;
  width: 420px;
  text-align: center;
}
/* Class for specific figure IMAGE where image is in the center */
.figure-right img {
  text-align: center;
  width: 420px;
  margin-right: 0;
  margin-bottom: 10px;
}
/* Class for specific figure CAPTION where image is in the center */
.figure-right figcaption {
  text-align: center;
  text-align: justify;
}

.small-yellow-text {
  margin-top: 0;
  color: #b29200;
  font-size: 1em;
}

/* To change text to black */
.black-color {
  color: #000000;
  margin-bottom: 0;
}
/* Special "Did you know?" style */
.did-you-know {
  font-size: 1.5em;
  color: #f82769;
  margin-bottom: 0;
}

.adjust-format {
  text-align: center;
  width: 800px;
  margin-bottom: 0;
}
